<!-- {{products|json}} -->

<div class="row row-cols-1 row-cols-md-4 g-4">
    <div *ngFor="let product of products" class="col">
      <div class="card h-100">
        <img [src]="product.kep" class="card-img-top" alt="Élelmiszer kép">
        <div class="card-body">
          <h5 class="card-title">Rendelhető élelmiszer</h5>
          <p class="card-text">{{product.leiras}}</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">{{product.ar}} Ft/{{product.mennyiseg}}</small>
            <div>
                <button (click)="deleteFood(product)" type="button" class="btn btn-danger btn-sm">Delete</button>
            </div>
        </div>
      </div>
    </div>
    
   </div>